@{
    ViewBag.Title = "faseSiete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<input type="hidden" id="hddidusuario" value="@ViewBag.VGidusuario" />
<nav class="navbar navbar-light bg-light justify-content-between">
    <img class="navbar-brand" src="~/Content/image/pizarra21.png" style="width:130px;height:65px;cursor:pointer" />
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="CerrarOV()">Salir</button>
    </form>
</nav>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <br />
            <h3>
                Lee las siguientes características y marca en la columna que describe mejor tu comportamiento habitual
                en cada uno de los ambientes (casa, centro de estudios y otros ambientes como la calle, amigos, parque,
                etc )
            </h3>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Comportamientos</th>
                        <th scope="col">(En casa) Siempre</th>
                        <th scope="col">(En casa) Casi siempre</th>
                        <th scope="col">(En casa) Nunca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Colaborador/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd1" id="rd11" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd1" id="rd12" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd1" id="rd13" value="1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Alegre</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd4" id="rd41" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd4" id="rd42" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd4" id="rd43" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Educado/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd7" id="rd71" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd7" id="rd72" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd7" id="rd73" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Puntual</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd10" id="rd101" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd10" id="rd102" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd10" id="rd103" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lento/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd13" id="rd131" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd13" id="rd132" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd13" id="rd133" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Amable</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd16" id="rd161" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd16" id="rd162" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd16" id="rd163" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Honesto/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd19" id="rd191" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd19" id="rd192" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd19" id="rd193" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Introvertido/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd22" id="rd221" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd22" id="rd222" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd22" id="rd223" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sensible</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd25" id="rd251" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd25" id="rd252" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd25" id="rd253" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Audaz</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd28" id="rd281" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd28" id="rd282" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd28" id="rd283" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Generoso/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd31" id="rd311" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd31" id="rd312" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd31" id="rd313" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Paciente</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd34" id="rd341" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd34" id="rd342" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd34" id="rd343" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Líder</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd37" id="rd371" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd37" id="rd372" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd37" id="rd373" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ambicioso/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd40" id="rd401" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd40" id="rd402" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd40" id="rd403" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Tramposo/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd43" id="rd431" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd43" id="rd432" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd43" id="rd433" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Enérgico/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd46" id="rd461" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd46" id="rd462" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd46" id="rd463" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Amiguero/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd49" id="rd491" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd49" id="rd492" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd49" id="rd493" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Tranquilo/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd52" id="rd521" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd52" id="rd522" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd52" id="rd523" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Observador/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd55" id="rd551" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd55" id="rd552" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd55" id="rd553" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Indiferente</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd58" id="rd581" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd58" id="rd582" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd58" id="rd583" value="3">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Comportamientos</th>
                        <th scope="col">(Centro de estudios) Siempre</th>
                        <th scope="col">(Centro de estudios) Casi siempre</th>
                        <th scope="col">(Centro de estudios) Nunca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Colaborador/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd2" id="rd21" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd2" id="rd22" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd2" id="rd23" value="2">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Alegre</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd5" id="rd51" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd5" id="rd52" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd5" id="rd53" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Educado/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd8" id="rd81" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd8" id="rd82" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd8" id="rd83" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Puntual</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd11" id="rd111" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd11" id="rd112" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd11" id="rd113" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Lento/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd14" id="rd141" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd14" id="rd142" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd14" id="rd143" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Amable</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd17" id="rd171" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd17" id="rd172" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd17" id="rd173" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Honesto/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd20" id="rd201" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd20" id="rd202" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd20" id="rd203" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Introvertido/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd23" id="rd231" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd23" id="rd232" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd23" id="rd233" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Sensible</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd26" id="rd261" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd26" id="rd262" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd26" id="rd263" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Audaz</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd29" id="rd291" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd29" id="rd292" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd29" id="rd293" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Generoso/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd32" id="rd321" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd32" id="rd322" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd32" id="rd323" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Paciente</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd35" id="rd351" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd35" id="rd352" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd35" id="rd353" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Líder</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd38" id="rd381" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd38" id="rd382" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd38" id="rd383" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Ambicioso/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd41" id="rd411" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd41" id="rd412" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd41" id="rd413" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Tramposo/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd44" id="rd441" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd44" id="rd442" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd44" id="rd443" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Enérgico/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd47" id="rd471" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd47" id="rd472" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd47" id="rd473" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Amiguero/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd50" id="rd501" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd50" id="rd502" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd50" id="rd503" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Tranquilo/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd53" id="rd531" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd53" id="rd532" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd53" id="rd533" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Observador/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd56" id="rd561" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd56" id="rd562" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd56" id="rd563" value="3">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Indiferente</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd59" id="rd591" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd59" id="rd592" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd59" id="rd593" value="3">
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Comportamientos</th>
                        <th scope="col">(Otros) Siempre</th>
                        <th scope="col">(Otros) Casi siempre</th>
                        <th scope="col">(Otros) Nunca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Colaborador/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd3" id="rd31" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd3" id="rd32" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd3" id="rd33" value="1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Alegre</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd6" id="rd61" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd6" id="rd62" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd6" id="rd63" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Educado/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd9" id="rd91" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd9" id="rd92" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd9" id="rd93" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Puntual</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd12" id="rd121" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd12" id="rd122" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd12" id="rd123" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lento/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd15" id="rd151" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd15" id="rd152" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd15" id="rd153" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Amable</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd18" id="rd181" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd18" id="rd182" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd18" id="rd183" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Honesto/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd21" id="rd211" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd21" id="rd212" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd21" id="rd213" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Introvertido/a</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd24" id="rd241" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd24" id="rd242" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd24" id="rd243" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sensible</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd27" id="rd271" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd27" id="rd272" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd27" id="rd273" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Audaz</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd30" id="rd301" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd30" id="rd302" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd30" id="rd303" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Generoso/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd33" id="rd331" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd33" id="rd332" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd33" id="rd333" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Paciente</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd36" id="rd361" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd36" id="rd362" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd36" id="rd363" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Líder</th>

                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd39" id="rd391" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd39" id="rd392" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd39" id="rd393" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ambicioso/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd42" id="rd421" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd42" id="rd422" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd42" id="rd423" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Tramposo/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd45" id="rd451" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd45" id="rd452" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd45" id="rd453" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Enérgico/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd48" id="rd481" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd48" id="rd482" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd48" id="rd483" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Amiguero/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd51" id="rd511" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd51" id="rd512" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd51" id="rd513" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Tranquilo/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd54" id="rd541" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd54" id="rd542" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd54" id="rd543" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Observador/a</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd57" id="rd571" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd57" id="rd572" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd57" id="rd573" value="3">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Indiferente</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd60" id="rd601" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd60" id="rd602" value="2">
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="grd60" id="rd603" value="3">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container justify-center">
    <div class="row align-center justify-center justify-content-md-center">
        <div class="col-md-12"></div>
        <button class="btn btn-lg btn-success" onclick="fnValidar();">Finalizar fase</button>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/Content/src/actividad/faseSiete.js"></script>
}