@{
    ViewBag.Title = "faseTres";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<input type="hidden" id="hddidusuario" value="@ViewBag.VGidusuario" />
<nav class="navbar navbar-light bg-light justify-content-between">
    <img class="navbar-brand" src="~/Content/image/pizarra21.png" style="width:130px;height:65px;cursor:pointer" />
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="CerrarOV()">Salir</button>
    </form>
</nav>


<div class="container justify-center">
    <div class="row align-center justify-center justify-content-md-center">
        <div class="col-md-12"></div>
        <button class="btn btn-lg btn-success" onclick="window.history.back();">Finalizar fase</button>
    </div>
</div>